@model IEnumerable<Producer> //enumerable and not a model because i use displaynamefor
@{
    ViewData["Tittle"] = "List of Producers";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                        <th>@Html.DisplayNameFor(model => model.FullName)</th>
                        <th>@Html.DisplayNameFor(model => model.Bio)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">
                                <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" style="max-width: 150px">
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.Bio)
                            </td>
                            <td class="align-middle">
                                <div class="d-flex flex-wrap align-items-center">
                                    <a href="#" class="btn btn-outline-primary btn-sm mr-2"><i class="fas fa-edit"></i> Edit</a>
                                    <a href="#" class="btn btn-outline-info btn-sm mr-2"><i class="fas fa-trash"></i> Details</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm"><i class="fas fa-book"></i> Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
